@mixin swish {
	transition-duration: 0.2s;
}

@mixin clickable {
	transition: filter 0.2s;
	cursor: pointer;
	@include swish;

	&:hover {
		filter: invert(20%);
	}
}

@mixin background {
	background-position: center;
	background-repeat: no-repeat;

	&.bg-left-- {
		background-position: left;
	}
}

@mixin wrapper {
	width: calc(100% - #{$wrapper-gutter} * 2);
	max-width: $wrapper-width;
	padding: 0 $wrapper-gutter;
	margin: 0 auto;
}
