@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
	font-family: 'Barndomsfirkante';
	src: url('/fonts/Barndomsfirkante.ttf') format('truetype');
}

$white: rgb(248, 225, 242);
$pink: #fab7c9;
$purple: #a0318f;
$black: #353535;
$orange: #e3a024;
$wrapper-gutter: 20px;
$wrapper-width: 1200px;

$bp-sm: 640px;
$bp-md: 800px;
$bp-lg: 1024px;
$bp-xl: 1280px;

$ff-base: 'Press Start 2P';
$ff-alpha: 'Press Start 2P';
$ff-style: 'Press Start 2P';

$header-height: 76px;
$footer-height: 76px;

$white-box-shadow: 0 0 50px -20px rgba($white, 0.2);
$white-drop-shadow: 0 0 50px rgba($white, 0.2);
$box-shadow: 0 0 30px -5px rgba($black, 0.2);
$drop-shadow: 0 0 50px rgba($black, 0.2);
$white-box-shadow-heavy: 0 0 100px 10px rgba($white, 0.8);
$box-shadow-heavy: 0 0 100px 10px rgba($black, 0.8);
